<% if flash[:alert] %>
  <div class="govuk-error-summary">
    <h2 class="govuk-error-summary__title">
      There was a problem signining in
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list">
        <li>
          <span class="govuk-error-message">
            <%= alert %>
          </span>
        </li>
      </ul>
    </div>
  </div>
<% end %>
