.dashboard {
  .filters {
    padding: govuk-spacing(6);
    margin: govuk-spacing(3) initial;
    background: govuk-colour("light-grey");
  }

  .table-header {
    .results {
      font-weight: normal;
    }
  }
}
