body {
  overflow: scroll;
}

.admin {
  .listing {
    thead {
      th {
        white-space: nowrap;
      }
    }
  }

  span.percentage {
    color: $govuk-secondary-text-colour;
  }
}

// Download button variables
$govuk-download-button-colour: govuk-colour("blue");
$govuk-download-button-hover-colour: govuk-shade($govuk-download-button-colour, 20%);
$govuk-download-button-shadow-colour: govuk-shade($govuk-download-button-colour, 60%);
$govuk-download-button-text-colour: govuk-colour("white");

// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s1) and
// increase the bottom margin to include it (s2).
$button-shadow-size: $govuk-border-width-form-element;

.govuk-button--download {
  background-color: $govuk-download-button-colour;
  box-shadow: 0 $button-shadow-size 0 $govuk-download-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $govuk-download-button-text-colour;
  }

  // alphagov/govuk_template includes a specific a:link:focus selector
  // designed to make unvisited links a slightly darker blue when focussed, so
  // we need to override the text colour for that combination of selectors so
  // so that unvisited links styled as buttons do not end up with dark blue
  // text when focussed.
  @include govuk-compatibility(govuk_template) {
    &:link:focus {
      color: $govuk-download-button-text-colour;
    }
  }

  &:hover {
    background-color: $govuk-download-button-hover-colour;

    &[disabled] {
      background-color: $govuk-download-button-colour;
    }
  }
}

.govuk-tag {
  &.not_contacted {
    @extend .govuk-tag--grey;
  }

  &.contacted {
    @extend .govuk-tag--blue;
  }

  &.received {
    @extend .govuk-tag--green;
  }

  &.accepted {
    @extend .govuk-tag--turquoise;
  }

  &.rejected {
    @extend .govuk-tag--red;
  }
}
