.dashboard {
  table {
    caption {
      .govuk-button {
        margin-right: govuk-spacing(3);
      }
    }
  }

  .filters {
    ul {
      list-style: none;
    }

    .filters-container {
      padding: govuk-spacing(6);
      background: govuk-colour("light-grey");
    }
  }

  h1 {
    .results {
      font-weight: normal;
    }
  }
}
