<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
      New survey submission for building:
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    <%= @building.address %>
  </div>
</div>
