<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l">Help</h2>
    <p class="govuk-body">Contact Southwark Council at <a href="mailto:buildingsafety@southwark.gov.uk">buildingsafety@southwark.gov.uk</a>
      if you have questions about the information required in the Building Safety Survey. </p>
    <p class="govuk-body">
      Please include the reference number (UPRN) when contacting Southwark Council. This number was included in the initial email or letter you received about the survey.
    </p>
  </div>
</div>
