<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Edit building record</h1>
    <%= form_with model: [:admin, @building], local: true do |form_builder| %>
      <%= render "errors" if @building.errors.any? %>
      <%= render "form", form_builder: form_builder %>
      <%= form_builder.submit "Update building record", class: "govuk-button", data: { module: "govuk-button" } %>
    <% end %>
  </div>
</div>
