<%= render "application/back_link", chosen_path: admin_root_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @building.address %></h1>
    <%= render 'details' %>
  </div>

  <hr class="govuk-section-break govuk-section-break">

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Survey details</h2>
  </div>

  <% if @building.survey.present? %>
    <div class="govuk-grid-column-full">
      <%= render @building.survey.summaries(self), readonly: true %>
    </div>
  <% end %>
</div>
