<%= render "application/back_link", chosen_path: root_path %>
<h1 class="govuk-heading-xl">Frequently asked questions</h1>
<p class="govuk-body-m">How is my building data used?</p>
<p class="govuk-body-m">Who can access my data?</p>
<p class="govuk-body-m">Can someone else fill in this data on my behalf?</p>
