<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group">
      <%= form_with(url: admin_search_path, method: :get) do |f| %>
        <%= f.label :q, "Search", class: "govuk-label" %>
        <%= f.text_field :q, value: search_term, class: "govuk-input govuk-!-width-three-quarters" %>
        <%= f.submit "Search", name: nil, class: "govuk-button" %>
      <% end %>
    </div>
  </div>
</div>
